extends ./layout.pug

block content
    .section Here is where i will introduce the app
    .section Here is where i will give instructions
    .section current coverage
    .section link to sign up or create calendar as guest