html
    head
        title= title
        link(href='/styles/main.css' rel='stylesheet')
        
    body
        header

        main
            block content

        footer
        
        block scripts