html
    head
        title= title
        link(href='/styles/main.css' rel='stylesheet')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
        
    body
        header
            h1 #{title}
            nav
                a(href='/')
                    i.fa.fa-home
                    span Home
                a(href='/calendar')
                    i.fa.fa-calendar-alt
                    span Calendar
                if !user
                    a(href='/signin')
                        i.fa.fa-user
                        span Sign In
                else
                    a(href='/profile')
                        i.fa.fa-user
                        span #{user.username}                  

        main
            block content

        footer
        
        block scripts